
    <input type="text" name="cep" [(ngModel)]="cep" (change)="buscarCep()"/>
    
    <div>
        <br>
        CEP = {{dados.cep}}
        <br>
        Logradouro = {{dados.logradouro}}
        <br>
        Complemento = {{dados.complemento}}
        <br>
        Bairro = {{dados.bairro}}
        <br>
        Localidade = {{dados.localidade}}
        <br>
        UF = {{dados.uf}}
        <br>
        IBGE = {{dados.ibge}}
        <br>
        GIA = {{dados.gia}}
        <br>
        DDD = {{dados.ddd}}
        <br>
        SIAFI = {{dados.siafi}}


    </div>