<form>

  <app-estoque></app-estoque>

</form>

<!--
  TODO:

  - Criar um Input CEP nesta tela
  - criar um novo componente chamado "buscarCep"

  - O componente buscar-cep deve receber um parametro de entrada [cep] : string
  - O componente buscar-cep deve possuir um botao "buscar" com um metodo que  chame a api ao ser clicado.
******  - O componente buscar-cep deve acessar um serviço de api (https://viacep.com.br/ws/79070000/json/unicode/)
******  * O retorno da API deve ser visualizado no componente
-->
